# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Build output
dist/
build/
*.tgz

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# npm package lock files
package-lock.json
yarn.lock

# Coverage folder
coverage/